<!-- <p-table [value]="devices" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>devicesId</th>
            <th>devicesNombre</th>
            <th>devicesCultivo</th>
            <th>latitud</th>
            <th>longitud</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-device>
        <tr>
            <td>{{device.devicesId}}</td>
            <td>{{device.devicesNombre}</td>
            <td>{{device.devicesCultivo}</td>
            <td>{{device.latitud}}</td>
            <td>{{device.longitud}}</td>
        </tr>
    </ng-template>
</p-table> -->