#map { height: 550px; }
.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.flex-gauge {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 5px;
}
// div.popup {
// 	line-height: 50%;
// }