<!-- ========== Left Sidebar Start ========== -->

<ng-template #contentTemplate>

  <!--- Sidemenu -->
  <div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
      <!-- {{menuItems}} -->
        <!-- <li class="menu-title">{{user.username}}</li> -->
        <!-- <ng-container> -->
        <li class="mm-active">
          <a class="is-parent" class="has-arrow" aria-expanded="true">
            <i class="bx bx-home-circle"></i>
            <span>Propiedades</span>
          </a>
          <ul class="sub-menu" >
            <li  *ngFor="let prop of props">
              <a routerLink = "/dashboard/leaflet/{{prop.propId}}" class="side-nav-link-ref" routerLinkActive="active" (click)="changeDevices(prop.propId)">
                {{prop.propNombre}}
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a class="is-parent" class="has-arrow" aria-expanded="true">
            <i class="bx bx-map-pin"></i>
            <span>Dispositivos</span>
          </a>
          <ul class="sub-menu" >
            <li  *ngFor="let dev of devices">
              <a routerLink = "/linechart/{{dev.devicesId}}" class="side-nav-link-ref" routerLinkActive="active">
                {{dev.devicesNombre}} 
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a class="is-parent" routerLink = "edit" >
            <i class="fas fa-pen"></i>
            <span>Editar</span>
          </a>
        </li>
      <!-- </ng-container> -->
    </ul>
  </div>
</ng-template>
<!-- Sidebar -->

<div class="vertical-menu">
  <ngx-simplebar class="h-100" #componentRef>
    <div *ngIf="!isCondensed">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
    <div *ngIf="isCondensed">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
  </ngx-simplebar>
</div>
<!-- Left Sidebar End -->