<!-- ========== Left Sidebar Start ========== -->

<ng-template #contentTemplate>

  <!--- Sidemenu -->
  <div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
      <!-- {{menuItems}} -->
      <ng-container>
        <li class="menu-title">{{user.username}}</li>
        <li class="mm-active">
          <a class="is-parent" class="has-arrow" aria-expanded="true">
            <i class="bx bx-home-circle"></i>
            <span>Propiedades</span>
          </a>
          <ul class="sub-menu" >
            <li  *ngFor="let prop of props">
              <!-- <a [routerLink] = "['/maps/leaflet/', prop.propId]" class="side-nav-link-ref" routerLinkActive="active"> -->
              <a routerLink = "/maps/leaflet/{{prop.propId}}" class="side-nav-link-ref" routerLinkActive="active">
                {{prop.propNombre}}
              </a>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
</ng-template>
<!-- Sidebar -->

<div class="vertical-menu">
  <ngx-simplebar class="h-100" #componentRef>
    <div *ngIf="!isCondensed">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
    <div *ngIf="isCondensed">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
  </ngx-simplebar>
</div>
<!-- Left Sidebar End -->