<div class="container-fluid">
  <!-- start page title -->
  <app-page-title
    title="Form Layouts"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="col-4">
            <form>
              <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Textarea</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
            </form>         
        </div>
      </div>
    </div>
    </div>
  </div>
  <!-- end row -->
</div>
