<div class="container-fluid">
    <!-- start page title -->
    <app-page-title
      title="Create Operation"
      [breadcrumbItems]="breadCrumbItems"
    ></app-page-title>
    <!-- end page title -->
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="card" style="background-color: rgb(42, 48, 66)">
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="saveOperation()">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="light">Operación</mat-label>
                <input matInput type="text" formControlName="operationName" />
                <mat-icon matSuffix *ngIf="isOperationNameFieldValid">done</mat-icon>
                <mat-icon matSuffix *ngIf="isOperationNameFieldInvalid">close</mat-icon>
                <div *ngIf="operationNameField.touched">
                  <mat-error *ngIf="operationNameField.hasError('required')">
                    Este campo es requerido!
                  </mat-error>
                  <mat-error *ngIf="operationNameField.hasError('maxlength')">
                    Máximo 20 caracteres!
                  </mat-error>
                </div>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="light">Tipo</mat-label>
                <input matInput type="text" formControlName="type" />
                <mat-icon matSuffix *ngIf="isTypeFieldValid">done</mat-icon>
                <mat-icon matSuffix *ngIf="isTypeFieldInvalid">close</mat-icon>
                <div *ngIf="typeField.touched">
                  <mat-error *ngIf="typeField.hasError('required')">
                    Este campo es requerido!
                  </mat-error>
                  <mat-error *ngIf="typeField.hasError('maxlength')">
                    Máximo 20 caracteres!
                  </mat-error>
                </div>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="light">Cultivo</mat-label>
                <input matInput type="text" formControlName="crop" />
                <mat-icon matSuffix *ngIf="isCropFieldValid">done</mat-icon>
                <mat-icon matSuffix *ngIf="isCropFieldInvalid">close</mat-icon>
                <div *ngIf="cropField.touched">
                  <mat-error *ngIf="cropField.hasError('required')">
                    Este campo es requerido!
                  </mat-error>
                  <mat-error *ngIf="cropField.hasError('maxlength')">
                    Máximo 20 caracteres!
                  </mat-error>
                </div>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="light">Variedad</mat-label>
                <input matInput type="text" formControlName="variety" />
                <mat-icon matSuffix *ngIf="isVarietyFieldValid">done</mat-icon>
                <mat-icon matSuffix *ngIf="isVarietyFieldInvalid">close</mat-icon>
                <div *ngIf="varietyField.touched">
                  <mat-error *ngIf="varietyField.hasError('required')">
                    Este campo es requerido!
                  </mat-error>
                  <mat-error *ngIf="varietyField.hasError('maxlength')">
                    Máximo 20 caracteres!
                  </mat-error>
                </div>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="light">Eficiencia</mat-label>
                <input matInput type="number" formControlName="efficiency" />
                <mat-icon matSuffix *ngIf="isEfficiencyFieldValid">done</mat-icon>
                <mat-icon matSuffix *ngIf="isEfficiencyFieldInvalid">close</mat-icon>
                <div *ngIf="efficiencyField.touched">
                  <mat-error *ngIf="efficiencyField.hasError('required')">
                    Este campo es requerido!
                  </mat-error>
                  <mat-error *ngIf="efficiencyField.hasError('min')">
                    Valor mínimo: 0
                  </mat-error>
                  <mat-error *ngIf="efficiencyField.hasError('max')">
                    Valor máximo: 100
                  </mat-error>
                </div>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="light">Entre Emisores</mat-label>
                <input matInput type="number" formControlName="betweenEmitters" />
                <mat-icon matSuffix *ngIf="isBetweenEmittersFieldValid">done</mat-icon>
                <mat-icon matSuffix *ngIf="isBetweenEmittersFieldInvalid">close</mat-icon>
                <div *ngIf="betweenEmittersField.touched">
                  <mat-error *ngIf="betweenEmittersField.hasError('required')">
                    Este campo es requerido!
                  </mat-error>
                  <mat-error *ngIf="betweenEmittersField.hasError('min')">
                    Valor mínimo: 0.15
                  </mat-error>
                  <mat-error *ngIf="betweenEmittersField.hasError('max')">
                    Valor máximo: 3
                  </mat-error>
                </div>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="light">Número de Filas</mat-label>
                <input matInput type="number" formControlName="rowNumbers" />
                <mat-icon matSuffix *ngIf="isRowNumbersFieldValid">done</mat-icon>
                <mat-icon matSuffix *ngIf="isRowNumbersFieldInvalid">close</mat-icon>
                <div *ngIf="rowNumbersField.touched">
                  <mat-error *ngIf="rowNumbersField.hasError('required')">
                    Este campo es requerido!
                  </mat-error>
                  <mat-error *ngIf="rowNumbersField.hasError('min')">
                    Valor mínimo: 1
                  </mat-error>
                  <mat-error *ngIf="rowNumbersField.hasError('max')">
                    Valor máximo: 8
                  </mat-error>
                </div>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="light">Entre Filas</mat-label>
                <input matInput type="number" formControlName="betweenRow" />
                <mat-icon matSuffix *ngIf="isBetweenRowFieldValid">done</mat-icon>
                <mat-icon matSuffix *ngIf="isBetweenRowFieldInvalid">close</mat-icon>
                <div *ngIf="betweenRowField.touched">
                  <mat-error *ngIf="betweenRowField.hasError('required')">
                    Este campo es requerido!
                  </mat-error>
                  <mat-error *ngIf="betweenRowField.hasError('min')">
                    Valor mínimo: 0.3
                  </mat-error>
                  <mat-error *ngIf="betweenRowField.hasError('max')">
                    Valor máximo: 8
                  </mat-error>
                </div>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="light">Flujo del Emisor</mat-label>
                <input matInput type="number" formControlName="emitterFlow" />
                <mat-icon matSuffix *ngIf="isEmitterFlowFieldValid">done</mat-icon>
                <mat-icon matSuffix *ngIf="isEmitterFlowFieldInvalid">close</mat-icon>
                <div *ngIf="emitterFlowField.touched">
                  <mat-error *ngIf="emitterFlowField.hasError('required')">
                    Este campo es requerido!
                  </mat-error>
                  <mat-error *ngIf="emitterFlowField.hasError('min')">
                    Valor mínimo: 0.5
                  </mat-error>
                  <mat-error *ngIf="emitterFlowField.hasError('max')">
                    Valor máximo: 8
                  </mat-error>
                </div>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="light">Suelo Húmedo</mat-label>
                <input matInput type="number" formControlName="wetSoil" />
                <mat-icon matSuffix *ngIf="isWetSoilFieldValid">done</mat-icon>
                <mat-icon matSuffix *ngIf="isWetSoilFieldInvalid">close</mat-icon>
                <div *ngIf="wetSoilField.touched">
                  <mat-error *ngIf="wetSoilField.hasError('required')">
                    Este campo es requerido!
                  </mat-error>
                  <mat-error *ngIf="wetSoilField.hasError('min')">
                    Valor mínimo: 5
                  </mat-error>
                  <mat-error *ngIf="wetSoilField.hasError('max')">
                    Valor máximo: 100
                  </mat-error>
                </div>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="light">KS</mat-label>
                <input matInput type="number" formControlName="ks" />
                <mat-icon matSuffix *ngIf="isKsFieldValid">done</mat-icon>
                <mat-icon matSuffix *ngIf="isKsFieldInvalid">close</mat-icon>
                <div *ngIf="ksField.touched">
                  <mat-error *ngIf="ksField.hasError('required')">
                    Este campo es requerido!
                  </mat-error>
                  <mat-error *ngIf="ksField.hasError('min')">
                    Valor mínimo: 0
                  </mat-error>
                  <mat-error *ngIf="ksField.hasError('max')">
                    Valor máximo: 1
                  </mat-error>
                </div>
              </mat-form-field>
              
              <br />
              <button type="submit" class="btn btn-primary w-100">Crear</button>
            </form>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-lg-9">
        <div class="card">
          <!-- <button id="botonMapa">Obtener GeoJSON</button> -->
          <div id="mapEdit">Cargando mapa...</div>
        </div>
      </div>
    </div>
    <!-- end row -->
</div>

  
