<div class="container-fluid">
    <!-- start page title -->
    <app-page-title
      title="Create Operation"
      [breadcrumbItems]="breadCrumbItems"
    ></app-page-title>
    <!-- end page title -->
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="card" style="background-color: rgb(42, 48, 66)">
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="saveOperation()">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Operación</mat-label>
                <input matInput type="text" formControlName="operationName" />
                <mat-icon matSuffix *ngIf="isOperationNameFieldValid">done</mat-icon>
                <mat-icon matSuffix *ngIf="isOperationNameFieldInvalid">close</mat-icon>
                <div *ngIf="operationNameField.touched">
                  <mat-error *ngIf="operationNameField.hasError('required')">
                    Este campo es requerido!
                  </mat-error>
                  <mat-error *ngIf="operationNameField.hasError('maxlength')">
                    Máximo 20 caracteres!
                  </mat-error>
                </div>
              </mat-form-field>  
              <br />
              <button type="submit" class="btn btn-primary w-100">Crear</button>
            </form>
            <!-- </div> -->
          </div>
        </div>
      </div>
  
      <div class="col-12 col-lg-9">
        <div class="card">
          <!-- <button id="botonMapa">Obtener GeoJSON</button> -->
          <div id="mapEdit">Cargando mapa...</div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  
