<div class="container-fluid">
  <!-- start page title -->
  <app-page-title
    title="Create Device"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <!-- end page title -->
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="card" style="background-color: rgb(42, 48, 66)">
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="saveDevice()">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label class="light">Nombre</mat-label>
              <input matInput type="text" formControlName="devicesNombre" />
              <mat-icon matSuffix *ngIf="isNameFieldValid">done</mat-icon>
              <mat-icon matSuffix *ngIf="isNameFieldInvalid">close</mat-icon>
              <div *ngIf="nameField.touched">
                <mat-error *ngIf="nameField.hasError('required')">
                  este campo es requerido!
                </mat-error>
                <mat-error *ngIf="nameField.hasError('maxlength')">
                  maximo 20 caracteres!
                </mat-error>
              </div>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100">
              <mat-label class="light">Variedad</mat-label>
              <input matInput type="text" formControlName="devicesCultivo" />
              <mat-icon matSuffix *ngIf="isVarietyFieldValid">done</mat-icon>
              <mat-icon matSuffix *ngIf="isVarietyFieldInvalid">close</mat-icon>
              <div *ngIf="varietyField.touched">
                <mat-error *ngIf="varietyField.hasError('required')">
                  este campo es requerido!
                </mat-error>
                <mat-error *ngIf="varietyField.hasError('maxlength')">
                  maximo 40 caracteres!
                </mat-error>
              </div>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100">
              <mat-label class="light">Numero de serie</mat-label>
              <mat-select formControlName="devicesSerie">
                <mat-option *ngFor="let serial of serialNumbers" [value]="serial">
                  {{ serial }}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix *ngIf="isSerieFieldValid">done</mat-icon>
              <mat-icon matSuffix *ngIf="isSerieFieldInvalid">close</mat-icon>
              <div *ngIf="serieField.touched">
                <mat-error *ngIf="serieField.hasError('required')">
                  Este campo es requerido.
                </mat-error>
                <mat-error *ngIf="serieField.hasError('maxlength')">
                  Máximo 25 caracteres.
                </mat-error>
              </div>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="w-100">
              <mat-label class="light">Tipo de suelo</mat-label>
              <mat-select formControlName="soil">
                <mat-option *ngFor="let soil of soils" [value]="soil">
                  {{ soil.soilType }}
                </mat-option>
              </mat-select>
              <!-- <mat-icon matSuffix *ngIf="isSerieFieldValid">done</mat-icon>
              <mat-icon matSuffix *ngIf="isSerieFieldInvalid">close</mat-icon>
              <div *ngIf="serieField.touched">
                <mat-error *ngIf="serieField.hasError('required')">
                  Este campo es requerido.
                </mat-error>
                <mat-error *ngIf="serieField.hasError('maxlength')">
                  Máximo 25 caracteres.
                </mat-error>
              </div> -->
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100">
              <mat-label class="light">Latitud</mat-label>
              <input matInput type="number" [(ngModel)]="latitud" formControlName="latitud" />
              <mat-icon matSuffix *ngIf="isLatitudFieldValid">done</mat-icon>
              <mat-icon matSuffix *ngIf="isLatitudFieldInvalid">close</mat-icon>
              <div *ngIf="latitudField.touched">
                <mat-error *ngIf="latitudField.hasError('required')">
                  este campo es requerido!
                </mat-error>
                <mat-error
                  *ngIf="
                    latitudField.hasError('max') || latitudField.hasError('min')
                  "
                >
                  Este campo debe estar comprendido entre -90 y 90.
                </mat-error>
              </div>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100">
              <mat-label class="light">Longitud</mat-label>
              <input matInput type="number"  [(ngModel)]="longitud"  formControlName="longitud" />
              <mat-icon matSuffix *ngIf="isLongitudFieldValid">done</mat-icon>
              <mat-icon matSuffix *ngIf="isLongitudFieldInvalid"
                >close</mat-icon
              >
              <div *ngIf="longitudField.touched">
                <mat-error *ngIf="longitudField.hasError('required')">
                  este campo es requerido!
                </mat-error>
                <mat-error
                  *ngIf="
                    longitudField.hasError('max') ||
                    longitudField.hasError('min')
                  "
                >
                  Este campo debe estar comprendido entre -180 y 180.
                </mat-error>
              </div>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100">
              <mat-label class="light">Operacion de riego</mat-label>
              <mat-select formControlName="opeId">
                <mat-option *ngFor="let operation of operations" [value]="operation.operationId">
                  {{ operation.operationName }}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix *ngIf="isOpeIdFieldValid">done</mat-icon>
              <mat-icon matSuffix *ngIf="isOpeIdFieldInvalid">close</mat-icon>
              <div *ngIf="opeIdField.touched">
                <mat-error *ngIf="opeIdField.hasError('required')">
                  este campo es requerido!
                </mat-error>
              </div>
            </mat-form-field>
            <br />
            <button type="submit" class="btn btn-primary w-100">Crear</button>
          </form>
          <!-- </div> -->
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-9">
      <div class="card">
        <!-- <button id="botonMapa">Obtener GeoJSON</button> -->
        <div id="mapEdit">Cargando mapa...</div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
